@font-face {
    font-family: "Norse Bold";
    src: url("https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf");
    }

#container {
    display: flex;
}

.item {
    flex:1 1 auto;
}

.image {
    width: 750px;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1491147334573-44cbb4602074?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
    text-align: center;

}

.form   {
    padding: 100px 0px;
}

.form-box {
    padding: 10px 0px;
}

.form-item {
    display: inline-block;
    margin: 0px 50px;
}

.form p {
    margin: 0px 50px;
    font: 30px;
}

.form h1 {
    padding: 0px 50px;
}

.form-box    {
    box-shadow:0px 5px 10px rgb(131, 131, 131);
}

input {
    border-color: #E5E7EB;
    display: block;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin: 0px 40px 20px 0px;
}

.logo {
    position: relative;
    top: 200px;
    width: 100%;
    height: 100px;
    background-color: rgba(0 , 0 , 0 , 0.5);
    color: white;
    font-size: 50px;
}

.logo p {
    position: absolute;
    top: -30px;
    right: 80px;
    font-family: 'Norse Bold';
    font-size: 50px;
}

.logo img {
    width: 40px;
}

.image , .image a {
    color: white;
}

.image-footer {
    position: absolute;
    bottom: 5px;
    left: 80px;
    font-size: 10px;
}

button {
    width: 160px;
    height: 40px;
    background-color: #596D48;
    border-radius: 10px;
    color: white;
    position:absolute;
    bottom: 100px;
    left: 350px;
}

.final-text {
    position: absolute;
    bottom: 60px;
    left: 350px;

}

.form a {
    text-decoration: none;
    color: #596D48;
}

input:focus {
    border: 3px solid blue;
    box-shadow:0px 5px 10px rgb(131, 131, 131);
  }
  
  .error input {
    background-color: #fce4e4;
    border: 1px solid #cc0033;
    outline: none; 
  }

  .error-message {
      color: red;
      position: absolute;
      bottom: 160px;
  }
  